{% extends 'base.html.twig' %} {% block title %}Cours - Dashboard{% endblock %} {% block body %}

<div>
    <div class="container course">
        {% for elements in course %}
        <div class="row">
            {% for element in elements %}
            <div class="col">
                <div class="carre">
                    <h2>Cours régulier de {{ element.topicsPeriod.topics.name }}</h2>
                    <h3>Prochain cours : aujourd'hui</h3>
                    <div>
                        <table>
                            <tr>
                                <td><img src="images/icons/student.jpg" /></td>
                                <td class="student">

                                    {% for student in element.student %} {{ student.name }} {% endfor %}

                                </td>
                            </tr>
                        </table>
                    </div>
                    <table>
                        <tr>
                            <td><img src="images/icons/period.jpg" /></td>
                            <td>
                                <p class="label">
                                    Lundi,Mardi,Mercredi,Jeudi<br>Vendredi,Samedi,Dimanche <br>
                                    <span class="date">A partir du samedi 3 Octobre</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><img src="images/icons/duration.jpg" /></td>
                            <td>
                                <p>
                                    <span class="duration">{{ element.duration }}/Jour</span><br> <span class="hourStart">A partir de {{ element.hourStartAt }}</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><img src="images/icons/teacher.jpg" /></td>
                            <td>
                                <p class="teacher">
                                    <span>{{ element.teacher.name }}</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <div class="details">
                        <a class="btn btn-primary" href="#" role="button">Détails</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}